name: Build ImmortalWrt for x86-64
on:
  push:
    branches: [ main, master ]
  workflow_dispatch: # 允许手动在网页触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 检出仓库代码
        uses: actions/checkout@v3

      - name: 初始化与配置
        run: |
          chmod +x diy-part1.sh diy-part2.sh
          ./diy-part1.sh
          ./diy-part2.sh
          cp .config openwrt/.config # 将你的配置复制到源码目录

      - name: 下载源码与编译
        run: |
          cd openwrt
          make -j$(nproc) download
          make -j$(nproc) V=s
        env:
          REPO_URL: https://github.com/immortalwrt/immortalwrt
          REPO_BRANCH: openwrt-25.12
